{% extends 'core/base.html' %}

{% load static %}

{% block title %}Historia{% endblock %}

{% block content %}
<section class="page-section about-heading">
  <div class="container">
    <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="{% static 'core/img/ofi.jpg' %}" alt="">
    <div class="about-heading-content">
      <div class="row">
        <div class="col-xl-9 col-lg-10 mx-auto">
          <div class="bg-faded rounded p-5">
            <h2 class="section-heading mb-4">
              <span class="section-heading-upper">Desarrolladores y Diseñadores Web</span>
              <span class="section-heading-lower">Sobre nosotros</span>
            </h2>
            <p>Soy un Freelancer especializadosen desarrollo web, he realizado diferentes tipos de proyectos para beneficio propio y solicitados por diferentes tipos de clientes satisfechos</p>
            <p>Ingenieros en Sistema titulados con diferentes certificados en diseño y desarrollo web y base de datos.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}