{% extends 'core/base.html' %}

{% load static %}

{% block title %}Solicita nuestros servicios{% endblock %}

{% block content %}
<section class="page-section cta">
  <div class="container">
    <div class="row">
      <div class="col-xl-9 mx-auto">
        <div class="cta-inner text-center rounded">
          <h2 class="section-heading mb-5">
            <span class="section-heading-upper">Te espero</span>
            <span class="section-heading-lower">Contactame</span>
          </h2>
          <ul class="list-unstyled list-hours mb-5 text-left mx-auto">
            <li class="list-unstyled-item list-hours-item d-flex">
              Lunes a viernes
              <span class="ml-auto">10:00 a 20:00</span>
            </li>
            <li class="list-unstyled-item list-hours-item d-flex">
              Sábados
              <span class="ml-auto">9:00 a 17:00</span>
            </li>
            <li class="list-unstyled-item list-hours-item d-flex">
              Domingos
              <span class="ml-auto">Cerrado</span>
            </li>
          </ul>
          <p class="address mb-5">
            <em>
             
              <br>
              Costa Rica
            </em>
          </p>
          <p class="mb-0">
            <small>
              <em>Contactame y pregunta</em>
            </small>
            <br>
            US +1(540) 242-9154
            CRC +506 7257-8476
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}